
body{
  background-color: black;
  background-image: url("/img/bg/bg8.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  color:white;

}

/*상품정보수정*/
.product_ptag{
  position: absolute;
  /*top:-20px;*/
  left:280px;
}


.show_img{
  position: absolute;
  top:70px;
  left:60px;
}

.show_img_name{
  position: absolute;
  top:260px;
  left:130px;

}


.product_table{
  position: absolute;
  top:70px;
  left:350px;
}


.p_img{
  position: absolute;
  margin-left: 30px;
  width: 150px;
}

.myfile{
  position: absolute;
  top:0px;
  margin-left: 30px;

}

.p_name{
  position: absolute;
  margin-left: 30px;
  width: 150px;
  text-align: center;
}

.p_price{
  position: absolute;
  margin-left: 46px;
  width: 150px;
  text-align: center;
}

.p_comment{
  position: absolute;
  margin-left: 46px;
  width: 150px;
  text-align: center;
}

.p_type{
  position: absolute;
  margin-left: 46px;
  width: 154px;

}

.p_amount{
  position: absolute;
  margin-left: 46px;
  width:150px;
  text-align: center;
}

.p_detail{
  position: absolute;
}

.upload_button{
  position: absolute;
  top:310px;
  left:120px;
}

.cancel_button{
  position: absolute;
  top:310px;
  left:200px;
}
